
  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    font-family: 'Pixelify Sans', cursive;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 10px;
    margin-top: -100px;
}
.play-cta{
    font-family: 'Pixelify Sans', cursive;
    font-size: 60px;
    cursor: pointer;
    user-select: none;
}
.play-cta:hover{
    background-color: white;
    color: #2EC4B6;
} 


.cardItem .backView img, .frontView img{
    max-width: 120px;
}
.bg-main{
    /* background-color: #094074;
    color: #FFDD4A; */
    background-color: #2EC4B6;
    color: #EDE6E3;
    font-weight: bold;

}
.text-main{
    color:  #2EC4B6 !important;
}
body{
    min-height: 100vh;
}
.wrapper{
    width: 700px;
    height: 600px;
}
.hide{
    display: none;
}

.cardItem, .cardBox, .view{
    display: flex;
    justify-content: center;
    align-items: center;


}
.cardBox{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cardItem{
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
}
.cardItem.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake {
    0%, 100%{
        transform: translateX(0);
    }   
    20%{
        transform: translateX(-13px);
    }   
    40%{
        transform: translateX(13px);
    }   
    60%{
        transform: translateX(-8px);
    }   
    80%{
        transform: translateX(8px);
    }   
}
.view{
    margin-left: -30px;
    width: 100%;
    height: 100%;
    background-color: #E5ECF4;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    position: absolute;
    transition: transform 0.35s linear;
    backface-visibility: hidden;
    user-select: none;
    pointer-events: none;
    
}
.backView{
    transform: rotateY(-180deg);
}
.cardItem.flipped .backView{
    
    transform: rotateY(0);
}
.cardItem.flipped .frontView{
    
    transform: rotateY(180deg);
}

span{
    color: #2EC4B6;
    font-size: 4em;
}
